# Week One Pandas Assignment 
### Submitted by Cecilia Cabiya
### Getting rid of useless columns

In [304]:
import pandas as pd 

movies = pd.read_csv("1000.csv")
movies =movies.drop(columns = ["Duration", "Description"])
movie = movies

### Oldest Movie

In [305]:
years = movies["Title"].str.extract(r"([(]19\d\d[)]|[(]20\d\d[)])") # Extracting only the years in parentheses
# To avoid false matching 2049 from the Bladerunner film etc. 
years = years[0].str.extract(r"(19\d\d|20\d\d)") # Extracting the year from that already filteres Series
years = years[0].astype(int)
movies.loc[years == max(years)]

,Unnamed: 0,Title,Certificate,Genre,Rate,Metascore,Cast,Info
13,13,14. Hamilton (2020),PG-13,"Biography, Drama, History",8.7,90.0,Director: Thomas Kail | Stars: Lin-Manuel Mira...,"Votes: 44,141"

### Newest Movie

In [306]:
movies.loc[years == min(years)].head(1) # Getting the first in the list of movies released in 1920, as there were more than one
# 1920 was the earliest year present in the data

,Unnamed: 0,Title,Certificate,Genre,Rate,Metascore,Cast,Info
317,317,320. The Cabinet of Dr. Caligari (1920),Not Rated,"Fantasy, Horror, Mystery",8.1,NaN,"Director: Robert Wiene | Stars: Werner Krauss,...","Votes: 56,194"

### Top 10 Movies by IMDB Rating
Making the distinction from Metascore ratings, which are also present in the data; we will be using the 0-10 ratings

In [307]:
#df.sort_values('Total',inplace=True,ascending=False)
movies.sort_values("Rate", ascending=False).head(10) # Top 10 when sorted by descending score

,Unnamed: 0,Title,Certificate,Genre,Rate,Metascore,Cast,Info
0,0,1. The Shawshank Redemption (1994),R,Drama,9.3,80.0,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1,2. The Godfather (1972),R,"Crime, Drama",9.2,100.0,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
3,3,4. The Godfather: Part II (1974),R,"Crime, Drama",9.0,90.0,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
2,2,3. The Dark Knight (2008),PG-13,"Action, Crime, Drama",9.0,84.0,Director: Christopher Nolan | Stars: Christian...,"Votes: 2,260,649 | Gross: $534.86M"
4,4,5. The Lord of the Rings: The Return of the Ki...,PG-13,"Action, Adventure, Drama",8.9,94.0,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
7,7,8. 12 Angry Men (1957),Approved,"Crime, Drama",8.9,96.0,"Director: Sidney Lumet | Stars: Henry Fonda, L...","Votes: 674,629 | Gross: $4.36M"
5,5,6. Pulp Fiction (1994),R,"Crime, Drama",8.9,94.0,Director: Quentin Tarantino | Stars: John Trav...,"Votes: 1,792,919 | Gross: $107.93M"
6,6,7. Schindler's List (1993),R,"Biography, Drama, History",8.9,94.0,Director: Steven Spielberg | Stars: Liam Neeso...,"Votes: 1,191,793 | Gross: $96.90M"
10,10,11. The Lord of the Rings: The Fellowship of t...,PG-13,"Action, Adventure, Drama",8.8,92.0,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,630,106 | Gross: $315.54M"
12,12,"13. The Good, the Bad and the Ugly (1966)",R,Western,8.8,90.0,Director: Sergio Leone | Stars: Clint Eastwood...,"Votes: 677,184 | Gross: $6.10M"

### Top Genres

In [308]:
movies["Genre"] = movies["Genre"].str.split(",")
movies = movies.explode(column="Genre")
genre_ratings = movies.groupby("Genre").agg({"Rate":"max"})
genre_ratings.sort_values(by = "Rate", ascending=False) # Drama is the most highly rated genre

            Rate
Genre
Drama        9.3
 Drama       9.2
Crime        9.2
 Crime       9.0
Action       9.0
Biography    8.9
 Adventure   8.9
 History     8.9
 Sci-Fi      8.8
 Romance     8.8
Western      8.8
 Fantasy     8.7
 Mystery     8.6
 Thriller    8.6
Adventure    8.6
 Family      8.6
Animation    8.6
Comedy       8.6
 War         8.6
Horror       8.5
 Musical     8.5
 Comedy      8.5
 Music       8.5
 Action      8.4
 Film-Noir   8.4
 Horror      8.4
 Biography   8.4
 Western     8.4
Mystery      8.4
 Sport       8.3
Fantasy      8.1
Film-Noir    8.1

### Director with most movies

In [309]:
people = movie["Cast"]
people = people.str.replace(r"Directors*:", "").str.strip()
people = people.str[10:].str.strip()
directors = people.str.replace(r"(\| (\w|\W)*)", "", regex=True).str.strip()
directors = directors.str.split(",")
df = directors.explode()
df.value_counts()

Cast
Brad Bird         21
Akira Kurosawa    16
Frank Capra       15
Neeraj Pandey     15
David Lynch       15
                  ..
George Lucas       1
Luc Besson         1
Tony Kaye          1
 Éric Toledano     1
Roger Allers       1
Name: count, Length: 295, dtype: int64

### Cast member with most movies

In [310]:
people
cast = people.str.replace(r"((\w|\W)* \| Stars: )", "", regex=True).str.strip()
cast = cast.str.split(",")
cast.explode().value_counts()

Cast
 Scarlett Johansson    22
Akshay Kumar           22
Leonardo DiCaprio      19
Matt Damon             15
 Geoffrey Rush         14
                       ..
Brigitte Helm           1
 Alfred Abel            1
 Gustav Fröhlich        1
 Rudolf Klein-Rogge     1
 Lee Marvin             1
Name: count, Length: 1332, dtype: int64

### Converting to parquet file

In [314]:
movie.to_parquet("file.parquet")

### Gross Revenue

In [312]:
info = movie["Info"]
info = info.loc[info.str.contains("Gross")] # Only summing the values that actually have a value for gross revenue
info = info.str.replace (r"(\w|\W)* \| Gross: ", "", regex = True)
info = info.str.replace(r"$", "").str.replace("M","")
print(f"{info.astype(float).sum()} million dollars in gross revenue!")

62852.87 million dollars in gross revenue!